.bg-amarillo {
    background-color: $crimsonsky;
    padding: 4rem 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    form {
        @include tablet {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 3rem;
        }

        legend {
            display: flex;
            flex-direction: column;
            place-items: center;
            row-gap: 2rem;
            color: $blanco;
            font-size: 3rem;
            text-align: center;
            span {
                color: $blanco;
                font-size: 1.8rem;
                font-weight: 600;
                text-align: center;
            }
        }

        .campos {
            display: flex;
            flex-direction: column;
            row-gap: 2rem;

            @include tablet {
                align-items: center;
                flex-direction: row;
                column-gap: 2rem;
            }
            .campo {
                display: flex;
                align-items: center;
                flex: auto;
                label {
                    font-size: 2.5rem;
                }

                input {
                    outline: none;
                    border: none;
                    border-radius: 1rem;
                    height: 2.8rem;

                    width: calc(100% - 2rem);
                    @include tablet {
                        width: auto;
                    }
                }
            }
        }
        .btn {
            background-color: $indigo;
            color: $blanco;
            font-size: 1.5rem;
        }
    }
}

td {

    i {
        font-size: 2rem;
    }
}

// notificacion
.error {
    background-color: rgb(185, 0,0);
}

.correcto {
    background-color: rgb(0, 185,0);
}


.notificacion {
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 1rem 3rem;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.PopUp {
    opacity: 1;
    transition: opacity 1s ease;


}